/* App.css */

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.list-group-item:hover {
  background-color: #fff3cd; 
  transition: background-color 0.3s ease;
  cursor: pointer;
}
